<template>
  <div class="cart">
    <NavBar :updateKeranjang="keranjangs" />
    <div class="container">
      <!-- Breadcrumb -->
      <div class="row mt-4">
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <router-link to="/" class="text-dark">Home</router-link>
              </li>
              <li class="breadcrumb-item">
                <router-link to="/foodsview" class="text-dark"
                  >Foods</router-link
                >
              </li>
              <li class="breadcrumb-item active" aria-current="page">Cart</li>
            </ol>
          </nav>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h2><strong>My</strong> Cart</h2>
          <div class="table-responsive mt-3">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Picture</th>
                  <th scope="col">Item</th>
                  <th scope="col">Information</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Price</th>
                  <th scope="col">Sub Total Price</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(keranjang, index) in keranjangs"
                  :key="keranjang.id"
                >
                  <th>{{ index + 1 }}</th>
                  <td>
                    <img
                      :src="'../images/' + keranjang.products.gambar"
                      class="img-fluid shadow"
                      width="250"
                    />
                  </td>
                  <td>
                    <strong>{{ keranjang.products.nama }}</strong>
                  </td>
                  <td>
                    {{ keranjang.keterangan ? keranjang.keterangan : "-" }}
                  </td>
                  <td>{{ keranjang.jumlah_pemesanan }}</td>
                  <td align="right">Rp. {{ keranjang.products.harga }}</td>
                  <td align="right">
                    <strong
                      >Rp.
                      {{
                        keranjang.products.harga * keranjang.jumlah_pemesanan
                      }}</strong
                    >
                  </td>
                  <td
                    align="center"
                    class="text-danger"
                    @click="deleteKeranjang(keranjang.id)"
                  >
                    <b-icon-trash></b-icon-trash>
                  </td>
                </tr>

                <tr>
                  <td colspan="6" align="right">
                    <strong>Total Price : </strong>
                  </td>
                  <td align="right">
                    <strong>Rp {{ totalHarga }}</strong>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Form Checkout -->
      <div class="row justify-content-end">
        <div class="col-md-4">
          <form class="mt-4" v-on:submit.prevent>
            <div class="form-group">
              <label for="nama">Nama :</label>
              <input
                type="text"
                min="1"
                class="form-control"
                v-model="pesan.nama"
              />
            </div>

            <div class="form-group">
              <label for="noMeja">Nomor Meja :</label>
              <input
                type="text"
                min="1"
                class="form-control"
                v-model="pesan.noMeja"
              />
            </div>
            <button
              type="submit"
              class="btn btn-success float-right"
              @click="checkout">
              <b-icon-cart></b-icon-cart> Order
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NavBar from "@/components/NavBar.vue";
import axios from "axios";

export default {
  name: "Cart",
  components: {
    NavBar,
  },
  data() {
    return {
      keranjangs: [],
      pesan: {},
    };
  },
  methods: {
    setKeranjangs(data) {
      this.keranjangs = data;
    },
    deleteKeranjang(id) {
      axios
        .delete("http://localhost:3000/keranjangs/" + id)
        //get("http://localhost:11001/bp/user")
        .then(() => {
          this.$toast.error("Item deleted", {
            type: "error",
            position: "top",
            duration: 1000,
            dismissible: true,
          });

          // update cart
          axios
            .get("http://localhost:3000/keranjangs")
            //get("http://localhost:11001/bp/user")
            .then((response) => this.setKeranjangs(response.data))
            .catch((error) => console.log("Error : ", error));
        })
        .catch((error) => console.log("Error : ", error));
    },
    checkout() {
      if (this.pesan.nama && this.pesan.noMeja) {
        this.pesan.keranjangs = this.keranjangs;

        axios
          .post("http://localhost:3000/pesanans", this.pesan)
          .then(() => {

            // delete cart

            this.keranjangs.map(function (item) {
              return (
                axios
                  .delete("http://localhost:3000/keranjangs/" + item.id)
                  //get("http://localhost:11001/bp/user")
                  .catch((error) => console.log("Error : ", error))
              );
            });

            this.$router.push({ path: "/checkout-success" });
            this.$toast.success("Order Success", {
              type: "success",
              position: "top",
              duration: 1000,
              dismissible: true,
            });
          })
          .catch((err) => console.log("err"));
      } else {
        this.$toast.error("Please enter and check Nama and Nomor Meja", {
          type: "error",
          position: "top",
          duration: 2000,
          dismissible: true,
        });
      }
    },
  },
  mounted() {
    axios
      .get("http://localhost:3000/keranjangs")
      //get("http://localhost:11001/bp/user")
      .then((response) => this.setKeranjangs(response.data))
      .catch((error) => console.log("Error : ", error));
  },
  computed: {
    totalHarga() {
      return this.keranjangs.reduce(function (items, data) {
        return items + data.products.harga * data.jumlah_pemesanan;
      }, 0);
    },
  },
};
</script>

<style>
</style>