<template>
  <div class="checkout-success">
    <NavBar />
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col text-center">
          <img src="../assets/images/waitorder.png" width="300">
          <h2><strong>Thank you for your order</strong></h2>
          <h4>Your order has been received and is now being processed</h4>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NavBar from "@/components/NavBar.vue";

export default {
  name: "CheckoutSuccess",
  components: {
    NavBar,
  },
};
</script>

<style>
</style>