<template>
  <div>
    <NavBar />
    <div class="container">
      <div class="row mt-4">
        <div class="col">
          <h2><strong>Foods</strong> List</h2>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col">
          <div class="input-group mb-3">
            
            <input
              v-model="search"
              type="text"
              class="form-control"
              placeholder="Find your favorite foods ..."
              aria-label="Username"
              aria-describedby="basic-addon1"
              @keyup="searchFood"
            />
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <b-icon-search></b-icon-search>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <div
          class="col-md-4 mt-4"
          v-for="product in products"
          :key="product.id"
        >
          <CardProduct :product="product" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import NavBar from "@/components/NavBar.vue";
import CardProduct from "@/components/CardProduct.vue";
import axios from "axios";

export default {
  name: "FoodsView",
  components: {
    NavBar,
    CardProduct,
  },
  data() {
    return {
      products: [],
      search: '',
    };
  },
  methods: {
    setProduct(data) {
      this.products = data;
    },
    searchFood() {
      axios
      .get("http://localhost:3000/products?q="+this.search)
      //get("http://localhost:11001/bp/user")
      .then((response) => this.setProduct(response.data))
      .catch((error) => console.log("Error : ", error));
    }
  },
  mounted() {
    axios
      .get("http://localhost:3000/products")
      //get("http://localhost:11001/bp/user")
      .then((response) => this.setProduct(response.data))
      .catch((error) => console.log("Error : ", error));
  },
};
</script>

<style>
</style>