<template>
  <div class="card shadow">
    <img :src="'images/'+ product.gambar" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ product.nama }}</h5>
      <p class="card-text">
        Harga : Rp {{ product.harga }}
      </p>
      <router-link class="btn btn-success" :to="'/foodsview/'+product.id"><b-icon-cart></b-icon-cart> Order</router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "CardProduct",
  props: ["product"],
};
</script>

<style>
</style>